.inputs-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.store-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}